<div class="star-path-container">
  <svg viewBox="0 0 100 100" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
    <path id="starPath"
          d="M50 10
         L61.8 38.2
         L90 38.2
         L67 57
         L75 85
         L50 70
         L25 85
         L33 57
         L10 38.2
         L38.2 38.2
         Z"
          stroke="#fbbf24"
          stroke-width="3"
          fill="none"
          stroke-linejoin="round"
          stroke-linecap="round"
    />
    <circle r="7" fill="#fbbf24" class="dot" />
  </svg>
</div>

<!--<ng-container *ngTemplateOutlet="a"></ng-container>
<ng-template #a>
  st
</ng-template>-->
